<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="topo">
    <ul>
        <li><a href="/cadastro">Cadastro </a></li>
        <li><a href="/login">Faça Login</a></li>
        <li><a href="/index">Página Inicial</a></li>
        <li><a href="termos.html">Termos de Serviço</a></li>
    </ul>
    <form action="/busca" method="post">
        Buscar: <input type="text" name="busca_usuario"><br>
        <input type="submit" name="envia">
    </form>
</div>

<h1>Bem vindo: </h1><p id="nome"><%= usuarios[0].esq_nome %></p>

<form action="/cadastroprod" method="post">
    Nome Produto: <input type="text" name="nome"><br>
    Imagem Produto: <input type="text" name="img"><br>
    Marca: <input type="text" name="marca"><br>
    Preço: <input type="text" name="preco"><br>
    <input type="hidden" name="nome_user" value="<%= usuarios[0].esq_nome %>">
    <input type="submit" name="envia" >
</form>

<h1>Seus produtos</h1>

  <table border="1" cellpadding="0" cellspacing="0">
      <tr>
          <td><b>Nome</b></td>
          <td><b>Imagem</b></td>
          <td><b>Marca</b></td>
          <td><b>Preço</b></td>
      </tr>

      <%
      var i=0;
      for(i=0; i<lista.length; i++)
      {

      %>
      <tr>
          <td><%= lista[i].esq_obj %></td>
          <td><img width="100" height="100" src=<%= lista[i].esq_url %>></td>
          <td><%= lista[i].esq_marca %></td>
          <td><%= lista[i].esq_preco %></td>
      </tr>
      <%
      }
      %>

</body>
</html>
